.chart-series-line.default-color0 {
    -fx-stroke: red;
}
.chart-line-symbol.default-color0 {
    -fx-background-color: blue, white;
}
.chart-series-line.default-color1 {
    -fx-stroke: #EE7AE9;
}
.chart-line-symbol.default-color1 {
    -fx-background-color: #FF1493, white;
}

#linechart {
    -fx-create-symbols: true;
}